[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
bibtexparser = "*"
flask = "*"
"neo4j-driver" = "*"
gunicorn = "*"

[dev-packages]
pytest = "*"

[requires]
python_version = "3.7"
