[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
bibtexparser = "*"
flask = "*"
gunicorn = "*"
"py2neo" = "*"

[dev-packages]
pytest = "*"
pytest-cov = "*"

[requires]
python_version = "3.6"
