<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>MyBib admin page</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.2/css/bulma.min.css">
    <link rel="stylesheet" href="static/css/main.css">
    <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
    <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
</head>
<body>
<section class="section">
    <div class="container">
        <div class="field is-horizontal">
            <div class="field-label is-small">
                <label class="label">Authentication</label>
            </div>
            <div class="field-body">
                <div class="field">
                    <p class="control is-expanded has-icons-left">
                        <input class="input is-small" type="text" name="user" id="user" placeholder="Username">
                        <span class="icon is-small is-left">
                              <svg class="svg-inline--fa fa-user fa-w-14" aria-hidden="true" data-prefix="fas"
                                   data-icon="user" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512"
                                   data-fa-i2svg="">
                                 <path fill="currentColor"
                                       d="M224 256c70.7 0 128-57.3 128-128S294.7 0 224 0 96 57.3 96 128s57.3 128 128 128zm89.6 32h-16.7c-22.2 10.2-46.9 16-72.9 16s-50.6-5.8-72.9-16h-16.7C60.2 288 0 348.2 0 422.4V464c0 26.5 21.5 48 48 48h352c26.5 0 48-21.5 48-48v-41.6c0-74.2-60.2-134.4-134.4-134.4z"></path>
                              </svg>
                            <!-- <i class="fas fa-user"></i> -->
                           </span>
                    </p>
                </div>
                <div class="field">
                    <p class="control is-expanded has-icons-left has-icons-right">
                        <input class="input is-small" type="password" name="password" id="password"
                               placeholder="Password">
                        <span class="icon is-small is-left">
                              <svg class="svg-inline--fa fa-envelope fa-w-16" aria-hidden="true" data-prefix="fas"
                                   data-icon="lock" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"
                                   data-fa-i2svg="">
                                 <path fill="currentColor"
                                       d="M502.3 190.8c3.9-3.1 9.7-.2 9.7 4.7V400c0 26.5-21.5 48-48 48H48c-26.5 0-48-21.5-48-48V195.6c0-5 5.7-7.8 9.7-4.7 22.4 17.4 52.1 39.5 154.1 113.6 21.1 15.4 56.7 47.8 92.2 47.6 35.7.3 72-32.8 92.3-47.6 102-74.1 131.6-96.3 154-113.7zM256 320c23.2.4 56.6-29.2 73.4-41.4 132.7-96.3 142.8-104.7 173.4-128.7 5.8-4.5 9.2-11.5 9.2-18.9v-19c0-26.5-21.5-48-48-48H48C21.5 64 0 85.5 0 112v19c0 7.4 3.4 14.3 9.2 18.9 30.6 23.9 40.7 32.4 173.4 128.7 16.8 12.2 50.2 41.8 73.4 41.4z"></path>
                              </svg>
                            <!-- <i class="fas fa-envelope"></i> -->
                           </span>
                    </p>
                </div>
            </div>
        </div>
        <fieldset class="box">
            <legend class="is-4">New entry</legend>
            <div class="field is-horizontal">
                <div class="field-label is-small">
                    <label class="label">Create new entry</label>
                </div>
                <div class="field-body">
                    <div class="field">
                        <div class="control">
                            <textarea class="textarea is-small" rows="15" id="entry" placeholder="@bibtex { ..."></textarea>
                        </div>
                    </div>
                </div>
            </div>
            <div class="field is-horizontal">
                <div class="field-label">
                    <!-- Left empty for spacing -->
                </div>
                <div class="field-body">
                    <div class="field">
                        <div class="control">
                            <button id="addEntry" class="button is-primary">
                                Add entry
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </fieldset>
        <fieldset class="box">
            <legend class="is-4">Add reference</legend>
            <div class="field is-horizontal has-addons">
                <div class="field-label is-small">
                    <label class="label">New reference?</label>
                </div>
                <div class="field-body">
                    <p class="control is-expanded">
                        <input class="input is-small" id="paper1" type="text" placeholder="P4P3R1">
                    </p>
                    <p class="control">
                        <a class="button is-static is-small">
                            references
                        </a>
                    </p>
                    <p class="control is-expanded">
                        <input class="input is-small" id="paper2" type="text" placeholder="P4P3R2">
                    </p>
                </div>
            </div>
            <div class="field is-horizontal">
                <div class="field-label is-small">
                    <label class="label">Message</label>
                </div>
                <div class="field-body">
                    <div class="field">
                        <div class="control">
                            <textarea class="textarea is-small" rows="4" id="referenceMessage" placeholder="Write a reason..."></textarea>
                        </div>
                    </div>
                </div>
            </div>
            <div class="field is-horizontal">
                <div class="field-label">
                    <!-- Left empty for spacing -->
                </div>
                <div class="field-body">
                    <div class="field">
                        <div class="control">
                            <button id="reference" class="button is-primary">
                                Reference!
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </fieldset>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/vis/4.21.0/vis.min.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script src="static/js/admin.js"></script>
    </div>
</section>
</body>
</html>